<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lskj.gx.lib_hk_video">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <!-- 允许程序录制音频 -->
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <!--允许程序设置对讲模式-->
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

  <application
      android:name=".HikApplication"
      android:allowBackup="false"
      android:label="@string/hk_app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/hk_AppTheme">
    <activity android:name=".TestUIActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".PreviewActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/hk_title_activity_preview"
        android:windowSoftInputMode="adjustResize" />
    <activity
        android:name=".PlaybackActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/hk_title_activity_playback"
        android:windowSoftInputMode="adjustResize" />
    <activity
        android:name=".VoiceTalkActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/hk_voice_talk"
        android:windowSoftInputMode="adjustResize" />
  </application>
</manifest>